<!DOCTYPE html>
<html lang="zxx">

<head>
    <title>Vui - WatchShop</title>
    <!--meta tags -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
   
    <script>
        addEventListener("load", function () {
            setTimeout(hideURLbar, 0);
        }, false);


        function hideURLbar() {
            window.scrollTo(0, 1);
        }
    </script>   
    <link href="~/layout/css/bootstrap.min.css" rel="stylesheet" type="text/css" media="all"> 
    <link href="~/layout/css/font-awesome.min.css" rel="stylesheet">   
    <link href="~/layout/css/style.css" rel='stylesheet' type='text/css' media="all">
    <link href="~/layout/fonts.googleapis.com/css?family=Raleway:400,500,600,700" rel="stylesheet">
    <link href="~/layout/fonts.googleapis.com/css?family=Patrick+Hand" rel="stylesheet">
    <link href="~/layout/fonts.googleapis.com/css?family=Roboto:400,500,700" rel="stylesheet">
</head>

<body>   
    <div class="banner-left-side" style="background: url(../layout/images/background.jpg) !important;
        background-repeat: no-repeat !important;
        background-position: center !important;
        -webkit-background-size: cover !important;
        -moz-background-size: cover !important;
        -o-background-size: cover !important;
        -ms-background-size: cover !important;
        min-height: 500px !important;
    " id="home">
        <!-- header -->
        <div class="headder-top">
            <!-- nav -->
            <nav>
                <div id="logo">
                    <h1>
                        <a href="index.html">PV</a>
                    </h1>
                </div>
                <div class="sub-headder position-relative">
                    <h6>
                        <a href="index.html">
                           PV-
                            <br>Watch Shop
                        </a>
                    </h6>
                </div>
                <label for="drop" class="toggle">Menu</label>
                <input type="checkbox" id="drop">
                <ul class="menu mt-2">
                    <li class="active">
                        <a href="index.html">Home</a>
                    </li>
                    <li>
                        <a href="#about">About</a>
                    </li>
                    <li>
                        <a href="#service">List</a>
                    </li>
                    <li>
                        First Tier Drop Down
                        <label for="drop-2" class="toggle toogle-2">
                            Dropdown <span class="fa fa-angle-down" aria-hidden="true"></span>
                        </label>
                        <a href="#">Dropdown <span class="fa fa-angle-down" aria-hidden="true"></span></a>
                        <input type="checkbox" id="drop-2">
                        <ul>
                            <li><a href="gallery.html" class="drop-text">Gallery</a></li>
                            <li><a href="menu.html" class="drop-text">Menu</a></li>
                            <li><a href="recipe.html" class="drop-text">Recipes</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="#gallery">Gallery</a>
                    </li>
                    <li>
                        <a href="#blog">Blog</a>
                    </li>
                    <li>
                        <a href="#contact">Contact Us</a>
                    </li>
                </ul>
            </nav>
            <!-- //nav -->
        </div>
        <!-- //header -->
        <!-- banner -->
        <div class="main-banner text-center">
            <div class="container">
                <div class="social-icons mb-lg-4 mb-3">
                    <ul>
                        <li class="facebook">
                            <a href="#">
                                <span class="fa fa-facebook"></span>
                            </a>
                        </li>
                        <li class="twitter">
                            <a href="#">
                                <span class="fa fa-twitter"></span>
                            </a>
                        </li>
                        <li class="rss">
                            <a href="#">
                                <span class="fa fa-rss"></span>
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="banner-right-txt">
                    <h5 class="mb-sm-3 mb-2">Time is very Important</h5>
                    <h5>PV - Watch Shop</h5>
                </div>
                <div class="slide-info-txt">
                    <p>
                        Thời gian trôi qua rất nhanh, nếu bạn muốn kiểm soát thời gian hãy đến với chúng tôi để có 1 chiếc đồng hồ chất !!!
                    </p>
                </div>
            </div>
        </div>
    </div>
    <!-- //banner -->
    <!-- about -->    
            <div class="row">
                @RenderBody();
            </div>
    <!--footer-copy-right -->
    <footer class="bottem-wthree-footer text-center py-md-4 py-3">
        <p>
            © 2020 PV-WatchShop. All Rights Reserved 
        </p>
    </footer>
    <!--//footer-copy-right -->
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>



