<div class="col-lg-4 col-md-6 col-sm-6 ser-icon text-center my-3">
    <div class="grid-wthree-service">
        <img src="images/ab1.jpg" alt="news image" class="img-fluid">
        <div class="ser-text-wthree mt-3">
            <h4>
                Vegatables
            </h4>
            <p class="mt-2">Lorem ipsum dolor sit amet, consectetuer adipiscing elit</p>
        </div>
    </div>
</div>
<div class="col-lg-4 col-md-6 col-sm-6 ser-icon text-center my-3">
    <div class="grid-wthree-service">
        <img src="images/ab2.jpg" alt="news image" class="img-fluid">
        <div class="ser-text-wthree mt-3">
            <h4>
                Fresh Fruits
            </h4>
            <p class="mt-2">Lorem ipsum dolor sit amet, consectetuer adipiscing elit</p>
        </div>
    </div>
</div>
<div class="col-lg-4 col-md-6 col-sm-6 ser-icon text-center my-3">
    <div class="grid-wthree-service">
        <img src="images/ab3.jpg" alt="news image" class="img-fluid">
        <div class="ser-text-wthree mt-3">
            <h4>
                Garden Tillage
            </h4>
            <p class="mt-2">Lorem ipsum dolor sit amet, consectetuer adipiscing elit</p>
        </div>
    </div>
</div>
<div class="col-lg-4 col-md-6 col-sm-6 ser-icon text-center my-3">
    <div class="grid-wthree-service">
        <img src="images/ab4.jpg" alt="news image" class="img-fluid">
        <div class="ser-text-wthree mt-3">
            <h4>
                Awesome Wheats
            </h4>
            <p class="mt-2">Lorem ipsum dolor sit amet, consectetuer adipiscing elit</p>
        </div>
    </div>
</div>
<div class="col-lg-4 col-md-6 col-sm-6 ser-icon text-center my-3">
    <div class="grid-wthree-service">
        <img src="images/ab1.jpg" alt="news image" class="img-fluid">
        <div class="ser-text-wthree mt-3">
            <h4>
                Garden Tillage
            </h4>
            <p class="mt-2">Lorem ipsum dolor sit amet, consectetuer adipiscing elit</p>
        </div>
    </div>
</div>
<div class="col-lg-4 col-md-6 col-sm-6 ser-icon text-center my-3">
    <div class="grid-wthree-service">
        <img src="images/ab2.jpg" alt="news image" class="img-fluid">
        <div class="ser-text-wthree mt-3">
            <h4>
                Agro Machinery
            </h4>
            <p class="mt-2">Lorem ipsum dolor sit amet, consectetuer adipiscing elit</p>
        </div>
    </div>
</div>